.synchro {
  color: white;
}

.spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#sform {
  background-color: #363b46;
  padding: 3%;
  width: 30%;
  border-radius: 2rem;
}

.text-muted {
  font-size: calc(10px + 1vmin);
}

#join {
  padding-inline: 10%;
  padding-block: 1.8%;
}

#submit {
  display:flex;
  justify-content:center;
  align-items: center;
}

#ftitle {
  text-align: center;
}

#nr {
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

/* moblie */
@media (max-width: 925px) {
  #sform {
    width: 70%;
    padding: 10%;
  }
}
